body{
    margin:0; 
    padding:0;              /*certain browsers have default margin and padding setting*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background-color: rgb(221, 221, 221);
    
}
/*Navigation bar*/
.nav-bar{
    display: flex;          /*default direction is row*/
    align-items: center;    /*for vertically center alignment*/
    gap:1%;
    background-color: black;
    padding:1%;
}
.nav-link-main{
    font-size: 150%;        /*1.5 times of orginal font*/
    color:white;
}
.nav-link{
    color:rgb(150, 147, 147);
}
.nav-link:hover{
    color:white;
    cursor:pointer;
}

/*title*/
.heading{
    font-size:200%;     /*double of the originial/parent font*/
    margin-left:5%;
}
.cards{
    display:flex;
    overflow-x:scroll;
}
.cards .card{
    margin-right:5%;
    margin-left: 5%;  
}
img{
    border: 3px solid black;
    height:400px;
    width: 300px;
    

}
.imgtext{
    color:white;
    position:relative;
    top:80%;
    text-align: center;

}